.topcorner{
    position: fixed;
    bottom:0;
    right:0;
    padding: 20px;
    display: block;
}


i{
    font-size: 75px;
}

#actions{
    font-size: 20px;
}


.list{
    width: 85%;
    display: block;
    margin: auto;
}

h1{
    text-align: center;
}

#asdf{
    display: inline-block;
    margin: 5px;

}
